<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Blend.Interactivity.Wpf" version="1.0.1340.0" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.8" targetFramework="net45" />
  <package id="OLinq" version="0.0.13.0" targetFramework="net45" />
  <package id="PixelLab.BOT" version="6.0.2" targetFramework="net45" />
  <package id="PixelLab.Common" version="6.0.2" targetFramework="net45" />
  <package id="PixelLab.Core" version="6.0.2" targetFramework="net45" />
  <package id="Prism" version="4.1.0.0" targetFramework="net45" />
  <package id="Rx-Core" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Linq" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Main" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-WPF" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-XAML" version="2.1.30214.0" targetFramework="net45" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net45" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net45" />
</packages>